body {
    background: #1C1B14 url(/items/background.gif);
    color: rgb(0, 0, 0);
}

a {
    color: inherit;
  }

.navbar{
    width: 85%;
    margin: auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    left: 1700px;
}

.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: sans-serif;
}

.navbar ul li::after{
    content: "";
    height: 3px;
    width: 0;
    background: #f5f5f5;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}

.banner {
    background-color: linear-gradient(93deg, #000000, #151414, #121212)
}

.content1 {
    animation: fadeIn 3s;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.content {
    animation: moveDown 1.5s;
    transition-timing-function: cubic-bezier(0.075, 0.22, 0.565, 1);
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes moveDown{
    0% {scale: 1.85; opacity: 0;}
    100% {scale: 1.0; opacity: 1;}
}

.content1 h1{
    font-size: 70px;
    margin-top: 80px;
}

.content1 p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;

}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    padding-left: 105px;
    padding-right: 105px;

}


button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2x solid black;
    background: white;
    color: #000000;
    cursor: pointer;
}

.dw_button{
    transition: transform .2s;
}

.dw_button:hover{
    transform: scale(1.2);
}
